[submodule ".vim/bundle/vim-javascript"]
	path = .vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule ".vim/bundle/vim-css-color"]
	path = .vim/bundle/vim-css-color
	url = https://github.com/ap/vim-css-color.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/OOP-javascript-indentation"]
	path = .vim/bundle/OOP-javascript-indentation
	url = https://github.com/vim-scripts/OOP-javascript-indentation.git
[submodule ".vim/bundle/jellybeans.vim"]
	path = .vim/bundle/jellybeans.vim
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule ".vim/bundle/Align"]
	path = .vim/bundle/Align
	url = https://github.com/vim-scripts/Align.git
